* {
  box-sizing: border-box;
}
body {
  background-color: hsl(218, 28%, 13%);
  color: hsl(0, 0%, 100%);
  line-height: 1.6em;
  font-family: Open Sans;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.container {
  width: 92%;
  margin: 0 auto;
  padding: 20px;
}
a {
  text-decoration: none;
}
.header-class {
  display: flex;
}
.navbar {
  width: 100%;
  display: flex;
}
nav ul {
  display: flex;
  justify-content: flex-end;
}
li {
  list-style: none;
  padding-left: 15px;
  align-items: flex-end;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
